<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="k23b.ac"
    android:versionCode="1"
    android:versionName="0.0.1-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="k23b.ac.activities.StartActivity"
            android:label="@string/title_activity_main"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="k23b.ac.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="k23b.ac.activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name="k23b.ac.activities.MainActivity"
            android:label="@string/title_activity_main"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="k23b.ac.activities.AssignJobActivity"
            android:label="@string/title_activity_assign_job"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>

        <service
            android:name="k23b.ac.util.JobDispatcher"
            android:exported="false" />
        
        <service android:name="k23b.ac.threads.SenderService" >
        </service>
    </application>

</manifest>